@page "/create/{id:long}"
@page "/create"

<h1 class="bg-info text-white">@Title</h1>
<h2 class="p-2">@Message</h2>

<hr />
@using Nicosia.Assessment.Presentation.Front.Models
@inject HttpClient Http
@inject NavigationManager _navigationManager

<EditForm Model="_studentData" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>First Name</label>
        <ValidationMessage For="@(() => _studentData.Firstname)" />
        <InputText class="form-control col-md-3" @bind-Value="_studentData.Firstname" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <ValidationMessage For="@(() => _studentData.Lastname)" />
        <InputText class="form-control col-md-3" @bind-Value="_studentData.Lastname" />
    </div>
    <div class="form-group">
        <label>Date Of Birth</label>
        <ValidationMessage For="@(() => _studentData.DateOfBirth)" />
        <InputDate class="form-control col-md-3" @bind-Value="_studentData.DateOfBirth" />
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <ValidationMessage For="@(() => _studentData.PhoneNumber)" />
        <InputText class="form-control col-md-3" @bind-Value="_studentData.PhoneNumber" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <ValidationMessage For="@(() => _studentData.Email)" />
        <InputText class="form-control col-md-3" @bind-Value="_studentData.Email" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <ValidationMessage For="@(() => _studentData.Password)" />
        <InputText type="password" class="form-control col-md-3" @bind-Value="_studentData.Password" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public long Id { get; set; }

    public string Message { get; set; } = "";
    public string Title { get; set; } = "";
    private StudentData _studentData = new StudentData();
    public async void HandleValidSubmit()
    {
        var result = new HttpResponseMessage();
        if (Id == 0)
        {
            result = await Http.PostAsJsonAsync("http://localhost:5000/Student", _studentData);
        }
        else
        {
            result = await Http.PutAsJsonAsync("http://localhost:5000/Student", _studentData);
        }

        if (result?.IsSuccessStatusCode ?? false)
        {
            _navigationManager.NavigateTo("/list");
        }
        else
        {
            var json = result.Content.ReadAsStringAsync().Result;
            var obj = Newtonsoft.Json.Linq.JObject.Parse(json);
            string message = (string)obj["message"];
            Message = message;
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            Title = "Update Student";
            _studentData = await Http.GetFromJsonAsync<StudentData>("http://localhost:5000/Student/" + Id);
        }
        else
        {
            Title = "Create Student";
        }
    }

    public void HandleInvalidSubmit() => Message = "Invalid Data Submitted";

 }