@page "/list"
@using Nicosia.Assessment.WebUI.Models

<h1 class="bg-info text-white">Create Student</h1>
<h2 class="p-2">@Message</h2>

<hr />
@inject HttpClient Http
@inject NavigationManager _navigationManager

@if (_students == null)
{
    <p>No students found.</p>
}
else
{
    <table class="table table-sm table-bordered table-striped ">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in _students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Firstname</td>
                    <td>@student.Lastname</td>
                    <td>@student.DateOfBirth.ToString("dddd, dd MMMM yyyy")</td>
                    <td>@student.PhoneNumber</td>
                    <td>@student.Email</td>
                    <td>@student.Password</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="/create/@student.Id">Edit</a>
                        </td>
                    <td>
                        <button class="btn btn-sm btn-danger"
                        @onclick="@(() => Delete(student))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private StudentData[] _students;
    public string Message { get; set; } = "";

    protected override async Task OnInitializedAsync() =>
        _students = await Http.GetFromJsonAsync<StudentData[]>("http://localhost:5000/student/list");

    public async void Delete(StudentData student)
    {
        var result = await Http.DeleteAsync("http://localhost:5000/Student/" + student.Id);
        if (result?.IsSuccessStatusCode ?? false)
        {
            _navigationManager.NavigateTo("list", true);
        }
        else
        {
            var json = result.Content.ReadAsStringAsync().Result;
            var obj = Newtonsoft.Json.Linq.JObject.Parse(json);
            string message = (string)obj["message"];
            Message = message;
        }
    }
}
